body {
    max-width: 100vw;
    background-color: hsl(36, 100%, 99%);
}

img {
    max-width: 100%;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
}

.center {
    margin: auto;
}

.right {
    text-align: right;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.nav {
    display: block;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.nav:hover {
    color: hsl(35, 77%, 62%);
    text-decoration: none;
}

#icon-menu {
    display: none;
}

#icon-menu-close {
    cursor: pointer;
    padding: 1.5rem 2rem;
}

.nav-button {
    padding: 1rem 0rem;
    cursor: pointer;
}

.nav-top-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.nav-top{
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    
}

#menu-vertical {
    display: none;

}

.item-header a {
    display: block;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
}

.item-header a:hover {
    color: hsl(35, 77%, 62%);
}

.item-header {
    grid-area: header;
}

.item-picture {
    grid-area: picture;
}

.item-sidebar {
    background-color: hsl(240, 100%, 5%);
    grid-area: sidebar;
}

.item-sidebar p {
    color: hsl(236, 13%, 42%);
}

.item-sidebar a {
    display: block;
    text-decoration: none;
}

.item-sidebar a:hover h4 {
    text-decoration: none;
    color: hsl(35, 77%, 62%);
}

#sidebar-header {
    font-size: 3rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
    padding: 1rem 0;
}

hr {
    background-color: hsl(236, 13%, 42%);
    margin: 2rem 0;
}

.item-news-top1 {
    grid-area: news-top1;
}

.item-news-top1 h2 {
    color: hsl(0, 0%, 0%);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 3rem;
}

.item-news-top2 p {
    font-size: 1.1rem;
}

.button {
    background-color: hsl(5, 85%, 63%);
    color: black;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter';
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
}

.item-sidebar h3 {
    color: hsl(0, 0%, 0%);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1rem;
}

.item-sidebar h4 {
    color: hsl(36, 100%, 99%);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.2rem;
}

.item-sidebar p {
    color: hsl(235, 6%, 54%);
    font-size: 1rem;
    font-weight: 800;
}

.item-news-bottom1 {
    grid-area: news-bottom1;
}

.item-news-bottom2 {
    grid-area: news-bottom2;
}

.item-news-bottom3 {
    grid-area: news-bottom3;
}

.bottom-news img {
    max-width: 100%;
    height: auto;
}

.bottom-news h3 {
    color: hsl(5, 85%, 63%);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 2rem;
}

.bottom-news a {
    display: block;
    text-decoration: none;
}

.bottom-news h4 {
    color: hsl(0, 0%, 0%);
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.2rem;
}

.bottom-news a:hover h4 {
    color: hsl(5, 85%, 63%);
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header "
        "picture picture sidebar"
        "news-top1 news-top2 sidebar"
        "news-bottom1 news-bottom2 news-bottom3";
    gap: 2rem;
    padding: 1rem;
}

@media (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header"
            "picture"
            "news-top1"
            "news-top2"
            "sidebar"
            "news-bottom1"
            "news-bottom2"
            "news-bottom3";
        padding: 1rem;
    }

    #menu-horizontal {
        display: none !important;
    }

    #icon-menu {
        display: block;
    }